@charset "utf-8";
@font-face {
  font-family: "SourceHanSansJP-Light";
  src:
    url("../../fonts/SourceHanSansJP-Light.woff") format('woff'),
    url("../../fonts/SourceHanSansJP-Light.otf") format('opentype');
}
@font-face {
  font-family: "SourceHanSansJP-Normal";
  src:
    url("../../fonts/SourceHanSansJP-Normal.woff") format('woff'),
    url("../../fonts/SourceHanSansJP-Normal.otf") format('opentype');
}
@font-face {
  font-family: "SourceHanSansJP-Regular";
  src:
    url("../../fonts/SourceHanSansJP-Regular.woff") format('woff'),
    url("../../fonts/SourceHanSansJP-Regular.otf") format('opentype');
}

*{
  font-family:'Lucida Grande',
  "Hiragino Sans","ヒラギノ角ゴシック",
  'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
  Verdana,
/* '游ゴシック体', '游ゴシック', 'Yu Gothic', YuGothic,*/
  'モリサワ新ゴ M',
  "SourceHanSansJP-Regular",
  Meiryo, 'メイリオ', sans-serif;
  text-align: justify;
  text-justify: inter-ideograph;
}

header{
  background-color:#f1f1f1;
  color:#19006e;
  padding:10px;
  margin-bottom:10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

ul{
  margin-left:60px;
  list-style: disc;
}

ul.square{
	margin-left: 2em;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 0em;
	list-style-type: square;
}

ul.circle{
	margin-left: 1em;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 0em;
	list-style-type: circle;
}


h1{
  font-size:50px;
  font-weight:700;
  line-height:60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#19006e;
}

h2.twitter{
  color:#1da1f2;
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:10px;
  border-width: 0px 0px 1px 10px;
  border-style: solid;
  border-color: #1da1f2;
  margin-left:-.5em;
  margin-right:-.5em;
}

h2.new{
  color:#d40729;
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:10px;
  border-width: 0px 0px 1px 10px;
  border-style: solid;
  border-color: #d40729;
  margin-left:-.5em;
  margin-right:-.5em;
}

h2.notification{
  color:#295890;
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:10px;
  border-width: 0px 0px 1px 10px;
  border-style: solid;
  border-color: #295890;
  margin-left:-.5em;
  margin-right:-.5em;
}

h2.note{
  color:#ffff1a;
  /*display:inline-block;*/
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:10px;
  border-width: 0px 0px 1px 10px;
  border-style: solid;
  border-color: #eeff00;
  margin-left:-.5em;
  margin-right:-.5em;
  text-shadow    : 
   1px  1px 0px #818181,
  -1px  1px 0px #818181,
   1px -1px 0px #818181,
  -1px -1px 0px #818181,
   1px  0px 0px #818181,
   0px  1px 0px #818181,
  -1px  0px 0px #818181,
   0px -1px 0px #818181; 
}

h2{
  color:#19006e;
  font-size:20px;
  font-weight: 600;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:10px;
  border-width: 0px 0px 1px 10px;
  border-style: solid;
  border-color: #19006e;
  margin-left:-.5em;
  margin-right:-.5em;
}

div.subitem{
  display: inline-block;
  width: 40%;
  color:#19006e;
  font-size:15px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:8px;
  margin-top:20px;
  margin-bottom:10px;
  border-width: 0px 0px 1px 10px;
  border-style: solid;
  border-color: #19006e;
  margin-left:1em;
  margin-right:1em;  
}

h2.book{
  clear: both;
}

h3.book{
  color:#d40729;
  padding-left:0px;
  margin-bottom:10px;
  border:none;
}

h3{
  color:#036b32;
  border-width: 0px 0px 1px 5px;
  border-style: solid;
  border-color: #036b32;
  padding-left:8px;
}

a{
  text-decoration: none;
}
a:link,
a:visited{
  color:blue;
  font-weight: 600;
}


a.abutton:link, a.abutton:visited{
  background-color:#ffb520;
  padding: 8px;
  color:black;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.abutton:hover{
  background-color: #FF6B80;
}

dt{
  display: list-item;
  list-style: disc;
  margin-top:1em;
  margin-left:1em;
  margin-bottom:0.5em;
}
dd{
  font-size:normal;	
  margin-left: 2.5em;
}
span.navi a{
  color:#19006e;
  margin:8px;
  padding:5px;
  border-radius: 10px;
  font-weight: 600;
}
span.navi a.selected{
  color:white;
  background-color: #19006e;
  font-weight: 600;
}
span.navi a:hover{
  color:white;
  background-color: #19006e;
  font-weight: 600;
}
header:after{
  content: "";
  clear: both;
  display: block;
}

span.logo a{
  color:white;
  text-decoration: none;
}

span.logo a:hover{
  color:white;
  text-decoration: none;
}

header:after{
  content: "";
  clear: both;
  display: block;
}

span.logo{
  font-size:40px;
  font-weight: 700; 
  letter-spacing:0.4em;
  float:left;
  height:40px;
  padding:0;
  margin:0;
}

body{
 background-color: #ffffff;
 width:100%;
 padding-bottom: 2em;
}

div.title1{
  text-align: center;
  font-weight: 700;
  margin-top:10px;
}
span.title1{
  font-size:90px;
  letter-spacing:0.4em;
  margin-right: -0.4em;
  font-weight: 700;
}

div.container{
  width:1000px;
  display:block;
  margin:0 auto;
  position:relative;
  top: 60px;
  z-index: 0;
}

div.contents,
div.contents2{
  line-height: 1.5em;
}
div.contents p{
  text-indent: 1em;
  margin-bottom: 1em;
  font-family: 'ヒラギノ明朝 ProN W3',
   'Hiragino Mincho ProN',
   "Noto Serif JP",
/*   '游明朝体', 'Yu Mincho', YuMincho,
   'HG明朝E',*/
   "SourceHanSansJP-Light",
   'メイリオ', Meiryo,
   "ＭＳ Ｐ明朝","ＭＳ 明朝",
   serif;
}

div.contents2 p{
  text-indent: 0em;
  margin-left: 1em;
  margin-bottom: 1em;
}

div.contents p.comment{
  font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Verdana, 
/* '游ゴシック体', '游ゴシック', 'Yu Gothic', YuGothic,*/
 'モリサワ新ゴ M',
 "SourceHanSansJP-Regular",
 Meiryo, 'メイリオ', sans-serif;
 font-size:small;
}

p.book{
  font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Verdana,
/* '游ゴシック体', '游ゴシック', 'Yu Gothic', YuGothic,*/
 'モリサワ新ゴ M',
 "SourceHanSansJP-Regular",
 Meiryo, 'メイリオ', sans-serif;
 font-size:normal;
 text-indent: 0em;
 line-height: 1.5em;
}


div.contents p a{
  font-family: inherit;
}


img.photo{
  display:block;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.bookcover{
  display:block;
  float:left;
  margin-right:10px;
}

div.bookcover img{
  margin-bottom:30px;
  border:solid;
  border-color:black;
  border-width:1px;
}

span.navi{
  float:right;
  margin-left:auto;
  display:inline-block;
  font-size:14px;
  height:40px;
  margin-top:13px;
  margin-bottom:-13px;
  line-height: 1.5em;
}

span.underline{
	text-decoration:underline;
}

span.blue{
	color: blue;
}

span.red{
	color: red;
}


strong{
  font-family:inherit;
  font-weight: 600;
}
em{
  font-family:inherit;
  font-style:inherit;
  font-weight: 600;
  color:#d40729;
}

em.doubleline {
	display: inline-block;
	text-decoration: none;
	border-bottom: 4px double #d40729;
	padding:0px;
	margin-bottom: 8px;	
}


table.results {
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 5px;
}
table.results th,
table.results td {
    padding: 10px;
}
table.results th {
    background: #295890;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: 600;
}
table.results td {
    background: #f8f8f8;
    width: 360px;
    text-align:center;
    vertical-align: middle;
    font-weight: 600;
    color:#d40729;
}

table.students {
    width: 200px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-size: 13px;
}
table.students th,
table.students td {
    padding: 0px;
}
table.students th {
    background: #295890;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
table.students td {
    background: #f8f8f8;
    width: 360px;
    text-align:center;
    font-size: 13px;
}

table.whatsnew th.arrow_box {
	text-align: center;
}


table.whatsnew th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}

table.whatsnew {
    width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 13px;
}
 
table.whatsnew th,
table.whatsnew td {
    padding: 10px;
}
 
table.whatsnew th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 100px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}
 
table.whatsnew th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}
 
table.whatsnew td {
    background: #f8f8f8;
    width: 360px;
    padding-left: 20px;
}


.wave {
  margin-top: 6em;
  width: 100%;
  border-width: 0 0 2px;
  border-style: dotted;
  position: relative;
}

div.twitter {
  float: left;
  /*overflow: hidden;*/
  width: 250px;
  margin: 0 30px 0 30px;
}

div.others {
  float: left;
  margin: 0 30px 0 30px;
	/*width:661px;*/
  width: 600px;
}

div.indexpage {
  margin: 0 30px 0 30px;
  width: 1070px;
  margin:0 auto;
}

div.main {
  margin: 0 30px 0 30px;
  width: 600px;
  margin:0 auto;
}

.text-center{
  text-align: center;
}

 /*
p.double-bottom {
  border-bottom: double;
  }
*/
